<div class="vet-login-container">
  <form class="vet-login-form">
    <!-- Imagem removida -->

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Luizincria@gmail.com"
    />

    <label for="senha">Senha</label>
    <input
      type="password"
      id="senha"
    />

    <div class="vet-options">
      <label class="vet-checkbox">
        <input type="checkbox" />
        Continuar conectado
      </label>
      <a routerLink="/" class="vet-esqueci-senha">Esqueci minha senha</a>
    </div>

    <!-- Use um botão ou link, veja nota abaixo -->
    <a routerLink="/dashboard" class="vet-login-button">Entrar</a>
  </form>

  <div class="vet-login-footer"></div>
</div>
