 <div class="dashboard-container" *ngIf="!loading && !error">
  <main class="main-content">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Pesquisar por ID"
        [(ngModel)]="searchId"
      />
      <button (click)="handleSearch()">Pesquisar</button>
      <p class="filter-message" *ngIf="filterMessage">{{ filterMessage }}</p>
    </div>

    <div class="clear-filter" *ngIf="filterMessage">
      <button (click)="handleClearFilter()">Limpar Filtro</button>
    </div>

    <div class="delete-message" *ngIf="deleteMessage">
      {{ deleteMessage }}
    </div>

    <div class="stats">
      <div class="stat-card">
        <h2>{{ filteredAnimais.length }}</h2>
        <p>Usuários cadastrados</p>
      </div>
    </div>

    <div class="action-buttons">
      <button [routerLink]="'/cadastro-cliente'">Criar Novo</button>
      <button (click)="handleGoBack()">Voltar ao Menu Inicial</button>
    </div>

    <div class="cards-container">
      <div class="animal-card" *ngFor="let animal of filteredAnimais">
        <div class="card-header">
          <div class="avatar">🐶</div>
          <div class="info">
            <strong>{{ animal.Nome || 'Nome não informado' }}</strong>
          </div>
        </div>
        <div class="card-body">
  <p><strong>ID:</strong> {{ animal.Id }}</p>
  <p><strong>CPF:</strong> {{ animal.Cpf }}</p>
  <p><strong>Celular:</strong> {{ animal.Celular }}</p>
  <p><strong>Data de Nascimento:</strong> {{ animal.Nascimento | date:'dd/MM/yyyy' }}</p>
  <p><strong>Endereço:</strong> {{ animal['Endereço'] }}</p>
  <p><strong>Cidade:</strong> {{ animal['Cidade'] }}</p>
  <p><strong>Estado:</strong> {{ animal['Estado'] }}</p>
  <p><strong>CEP:</strong> {{ animal['Cep'] }}</p>
  <div class="action-buttons-card">
    <button (click)="handleEdit(animal)">Alterar</button>
    <button (click)="handleDelete(animal.Id)">Excluir</button>
  </div>
</div> 
